<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Privacy Notice</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='stackerstyle.css') }}">


</head>

<body>

    <header>
        <nav>
            <a href="{{ url_for('main.home') }}">Return to Home</a> |
            <a href="{{ url_for('main.blogs') }}">Blogs</a> |
            <a href="{{ url_for('main.projects') }}">Projects</a> |
            <a href="{{ url_for('main.education') }}">Education</a> |
            <a href="{{ url_for('main.values') }}">LBBD DRIVE</a>
        </nav>
    </header>

    <main>
        <h1>Privacy Notice</h1>

        <section>
            <h2>Introduction</h2>
            <p>
                This website is operated as a personal portfolio site for demonstration purposes. I am committed to protecting your privacy and ensuring transparency about the limited information collected and how it is
